.section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.registration-form {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.container {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 50px auto;
    background-image: url('https://www.hdwallpapers.in/download/white_wallpaper_5_4k_hd_white-1080x1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    box-shadow: 
    0 16px 16px rgba(0, 0, 0, 0.3),
    0 16px 16px rgba(0, 0, 0, 0.3),
    0 8px 8px rgba(0, 0, 0, 0.5),
    0 16px 16px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin: 10px 20px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 25px;
    &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: background-color 0.3s, color 0.3s;
     }
}
.navbar {
    overflow: hidden;
    background-color: #000000;
    border-radius: 40px;
    align-items: flex-end;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 36.33px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #b950ff;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
table {
    
    margin: 50px auto;
    border-collapse: collapse;
    border: #000000;
    border-radius: 25px;
}

td {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}
h2{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://rare-gallery.com/mocahbig/60097-Abstract-Glass-4k-Ultra-HD-Wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
}
